.timestamp { height: 30px; border: 1px solid black }
#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.bus-div-icon-10,
.bus-div-icon-11,
.bus-div-icon-12,
.bus-div-icon-13,
.bus-div-icon-14,
.bus-div-icon-15,
.bus-div-icon-16 {
	text-align: center;
	background-color: red;
	color: white;
	border-width: 1px 2px 1px 2px;
	border-style: solid dashed solid dashed;
	border-color: black white black orange;
}
.bus-div-icon-15 { font-size: 50%; }
.bus-div-icon-14 { font-size: 25%; }
.bus-div-icon-13 { font-size: 12.5%; }
.bus-div-icon-12 { font-size: 6.25%; }
.bus-div-icon-11 { font-size: 3.125%; }
.bus-div-icon-10 { font-size: 1.5625%; }
